<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>yusnap_appicon_57x57</string>
		<string>yusnap_appicon_114x114</string>
		<string>yusnap_appicon_72x72</string>
		<string>yusnap_appicon_144x144</string>
		<string>yusnap_spotlight_29x29</string>
		<string>yusnap_spotlight_58x58</string>
		<string>yusnap_spotlight_50x50</string>
		<string>yusnap_spotlight_100x100</string>
		<string>yusnap_appicon_120x120</string>
		<string>Icon-76</string>
		<string>Icon-76@2x</string>
		<string>Icon-Small-40</string>
		<string>yusnap_spotlight_80x80</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>YuSnapv3</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleShortVersionString</key>
	<string>3.0.00</string>
	<key>CFBundleName</key>
	<string>YuSnapv3</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Use Photos</string>
	<key>NSCameraUsageDescription</key>
	<string>Use Camera</string>
	<key>CFBundleIdentifier</key>
	<string>com.yuniqueplm.yusnapv3</string>
	<key>CFBundleVersion</key>
	<string>3.0.00</string>
</dict>
</plist>
